@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

body {
	font-family: 'Lexend Deca', 'Big Shoulders Display', sans-serif;
	font-size: 15px;
}

h1 {
	font-family: 'Big Shoulders Display', sans-serif;
	font-stretch: condensed;
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, 0.946);
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 300;
	font-size: 0.8rem;
	padding: 1em 0 2.5em 0;
	margin: 0.5em 0;
	line-height: 1.5rem;
	text-align: left;
}

.container {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	margin: 3.5em;
	border-radius: 10px;
	overflow: hidden;
}

.col {
	/* border: 1px solid yellow; */
	padding: 3em 2.5em 3.5em 2.5em;
}

.col > a {
	/* border: 1px solid yellow; */
	padding: 1em 1.5em;
	margin: 1.5em 0 4em 0;
	background-color: hsl(0, 0%, 100%);
	text-decoration: none;
	border-radius: 40px;
	font-size: 0.8rem;
}

.card-1 a:hover {
	border: 1px solid white;
	background-color: hsl(31, 77%, 52%);
	color: white;
}

.card-1 {
	background-color: hsl(31, 77%, 52%);
}
.card-1 a {
	color: hsl(31, 77%, 52%);
}

.card-2 {
	background-color: hsl(184, 100%, 22%);
}

.card-2 a {
	color: hsl(184, 100%, 22%);
}
.card-2 a:hover {
	border: 1px solid white;
	background-color: hsl(184, 100%, 22%);
	color: white;
}

.card-3 {
	background-color: hsl(179, 100%, 13%);
}
.card-3 a {
	color: hsl(179, 100%, 13%);
}
.card-3 a:hover {
	border: 1px solid white;
	background-color: hsl(179, 100%, 13%);
	color: white;
}

@media (min-width: 670px) {
	.container {
		/* border: 1px solid red; */
		margin: 10em auto;
		max-width: 750px;
		display: flex;
		flex-direction: row;
		border-radius: 10px;
		overflow: hidden;
	}

	.col p {
		margin-bottom: 3em;
	}
	.card-1,
	.card-2,
	.card-3 {
		border-radius: 0;
	}
}
