/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)

### Neutral

Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)

## Typography

### Body Copy

- Font size: 15px

### Font

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders+Display)
- Weights: 700 */

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca:wght@300;400&display=swap');

body {
	font-family: 'Lexend Deca', 'Big Shoulders Display', sans-serif;
	font-size: 15px;
}

h1 {
	font-family: 'Big Shoulders Display', sans-serif;
	font-stretch: condensed;
	text-transform: uppercase;
	color: hsla(0, 0%, 100%, 0.946);
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	font-weight: 300;
	font-size: 0.8rem;
	padding: 1em 0 3em 0;
	line-height: 1.5rem;
}

.container {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	margin: 3.5em;
}

.col {
	/* border: 1px solid yellow; */
	padding: 2.7em;
}

.col > a {
	/* border: 1px solid yellow; */
	padding: 1em 1.5em;
	margin-top: 1em;
	background-color: hsl(0, 0%, 100%);
	text-decoration: none;
	border-radius: 40px;
	font-size: 0.8rem;
}

.card-1 a:hover {
	border: 1px solid white;
	background-color: hsl(31, 77%, 52%);
	color: white;
}

.card-1 {
	background-color: hsl(31, 77%, 52%);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.card-1 a {
	color: hsl(31, 77%, 52%);
}

.card-2 {
	background-color: hsl(184, 100%, 22%);
}

.card-2 a {
	color: hsl(184, 100%, 22%);
}
.card-2 a:hover {
	border: 1px solid white;
	background-color: hsl(184, 100%, 22%);
	color: white;
}

.card-3 {
	background-color: hsl(179, 100%, 13%);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.card-3 a {
	color: hsl(179, 100%, 13%);
}
.card-3 a:hover {
	border: 1px solid white;
	background-color: hsl(179, 100%, 13%);
	color: white;
}
